@import "tailwindcss";

@theme {
  --color-mainBg: #111;
}

::-webkit-scrollbar {
  height: 0.5em;
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  border-radius: 2.2em;
  background: #373737;
  cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
